body{
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
.header{
  /* position: fixed; */
  top: 0; left: 0;
  max-width: 1440px;
  /* width: 100%; */
  margin: auto;
  padding: 12px 80px 12px 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 1000;
  background-color: white;
  border: 0px 0px 1px 0px;
  height: 62px;
}
.header .logo{
  font-size: 2rem;
  font-weight: bolder;
  color: black;
  text-decoration: none;
}
.header .logo span{
  color: #FF8A00;
}
.header .navbar a{
  font-size: 1.2rem;
  margin-left: 2rem;
  text-decoration: none;
}
.login{
  font-size: 1.2rem;
  border: 1px solid #FF8A00;
  padding: 14px 24px 14px 24px ;
  border-radius: 20px;
}

.banner{
  background-image: 
  linear-gradient(to bottom, rgba(0, 0, 0, 0.80), rgba(0, 0, 0, 0.80)),url(img/banner.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  opacity: 0.8;
  max-width: 1440px;
  margin: auto;
  height: 732px;
}
.banner-element{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
.banner-element h1{
  color: #FFFFFF;
  font-size: 56px;
  text-align: center;
  font-weight: 600;
  line-height: 72px;
}
.banner-element h6{
  color: white;
  font-size: 16px;
  text-align: center;
  font-weight: 500;
  line-height: 24px;
}

.button{
  background-color: #FF8A00;
  width: 185px;
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  border-radius: 15px;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
  font-weight: 500;
}
.cards{
  max-width: 1440px;
  margin: auto;
}
.cards .card-box{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.cards .card-box .card{
  height: 371px;
  width: 314px;
  margin: 1.5rem;
  padding: 3rem 2rem;
  border-radius: .5rem;
  text-align: center;
  transition: .2s linear;
  text-align: left;
}

/* big card start */

.big-card-section{
  background-color: #FAFAFC;
  padding-top: 70px;
  padding-bottom: 70px;
  max-width: 1440px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.big-card-header{
  text-align: center;
  height: 175px;
  margin-bottom: 80px;
}
.big-card-header h2{
  font-size: 58px;
  padding: 0px, 383px, 0px, 381px;
}
.big-card-header span{
  color: #FF8A00;
}
.big-card-header p{
  font-size: 16px;
  padding: 0px, 231px, 0px, 232px;
}

.big-cards{
  display: flex;
  flex-direction: column;
}

.big-card-1{
  display: flex;
}
.big-card-element-1{
 padding: 104px, 0px, 119px, 0px;
 gap: 24px;
 width: 420px;
 margin-right: 80px;
 margin-top: 65px;
}

.big-card-2{
  display: flex;
}

.big-card-element-2{
  width: 432px;
  gap: 24px;
  margin-left: 80px;
  margin-top: 65px;
 }

 .features{
  max-width: 1280px;
  margin: auto;
  margin-top: 70px;
  margin-bottom: 70px;
 }
 .feature-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 32px;
 }

 .feature-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 405px;
  height: 465px;
  border-radius: 12px;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.1);
  text-align: center;
  color: #5B5B5B;
 }
 .feature-card p{
  margin-left: 10%;
  margin-right: 10%;
 }
 
 .social-media-section{
  max-width: 1440px;
  height: 436px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #FAFAFC;
 }
 .social-content span{
  color: #FF8A00;
 }
 .social-content h2{
  font-size: 32px;
  font-weight: 600;
 }
 .social-content p{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #555555;
 }

 .social-icons {
  max-width: 1140px;
  display: flex;
  gap: 104px;
  margin-top: 25px;
 }

 .social-icons > div> img{
  border-radius: 12px;
  box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.4);
 }

 /* testimonial part */
 .testimonial{
  max-width: 1317px;
  height: 390px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 65px;
  margin-top: 65px;
  
 }
 .testimonial h2{
  font-size: 32px;
  font-weight: 600;
 }
 .testimonial-cards{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 32px;
 }

 .testimonial-card{
  padding: 26px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.1);
  border-radius: 5px; 
 }
 .testimonial-footer{
  display: flex;
  align-items: center;
 }
 .testimonial-footer img{
  margin-right: 20px;
 }
 .testimonial-name{
  display: flex;
  flex-direction: column;
 }
 .testimonial-footer h4{
  margin: 0;
 }
 .testimonial-footer p{
  margin: 0;
  color: #2F2F2F;
 }

 /* subscribe */
 .subscribe{
  background-image: linear-gradient( #F9D29D,#FBEFCC);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1440px;
  height: 315px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
 }
 .subscribe h2{
  font-size: 40px;
  font-weight: 600;
 }
 .subscribe button{
  color: wheat;
  font-weight: 600;
 }